version: '3'

services:
  database:
    image: postgres:14-alpine
    volumes:
      - ${PWD}/docker/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432

  search:
    container_name: viagem10-meilisearch
    image: getmeili/meilisearch:latest
    environment:
      - MEILI_MASTER_KEY=masterkey
      - MEILI_NO_ANALYTICS=true
      - MEILI_ENV=development
      - MEILI_DB_PATH=${MEILI_DB_PATH:-/data.ms}
    ports:
      - 7700:7700
    volumes:
      - ${PWD}/docker/meilisearch:/data.ms
    restart: unless-stopped

  auth:
    container_name: viagem10-keycloak
    image: quay.io/keycloak/keycloak:20.0.2
    command: start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - 8080:8080
    volumes:
      - ${PWD}/docker/keycloak:/opt/keycloak/data/h2
